@use "variables" as *;

// header home page 

header {
   background-color: $crl-base-dk;

   }



   .main-nav {
      height: 80px;
      ul {
      display: flex;
      justify-content: center;
         li {
         display: inline-block;
         margin: 27px;
         }
      a:hover,
      a:focus {
         color: $clr-accent;
      }
   }
}



   .header-container-main {
      display: flex; 
      justify-content: flex-end;
      align-content: center;
      .header-img {
         width: 31%;
         position: relative;
         bottom: -60px;
         
         img {
            width: 100%;
            padding-top: 10px;
            box-shadow: 16px 16px $crl-white-lt;
            max-width: 400px;
       
         }
      }
   }

   .header-container-main .header-text {
   
      align-self: flex-start;
      img { 
         position: relative;
         top: 157px;
         right: 50px;
         height: 5.5rem;
      }
      h1 {
         padding-right: 20px;
      }
   }


   // header - contact site



   .header-container {
      background-size: cover;
      height: 320px;
         .h1-container {
            height: 100%;
            position: relative;
            h1 {
               margin: 0;
               padding: 0;
               font-size: 3.5rem;
               line-height: 3.5rem;
               position: absolute;
               bottom: -8px;
            }
         }
   }

// contact page header 

.contact-header-container {
      background-image: url("../assets/contact-image-1.jpg");
   }

// blog&news site 

.blog-header-container {
   background-image: url("../assets/blog-image-1.jpg");
}