@use "variables" as *;

header {
   background-color: $crl-base-dk;
   height: 64vh;

   }



   .main-nav ul {
      display: flex;
      justify-content: center;
      li {
         display: inline-block;
         margin: 27px;
      }
      a:hover,
      a:focus {
         color: $clr-accent;
      }
   }


   .header-container {
      display: flex; 
      justify-content: flex-end;
      align-content: center;
      .header-img {
         width: 31%;
         
         img {
            width: 100%;
            padding-top: 10px;
            box-shadow: 16px 16px $crl-white-lt;
            max-width: 400px;
            position: relative;
            bottom: -40px;
            top: 0;
         }
      }
   }

   .header-container .header-text {
   
      align-self: flex-start;
      img { 
         position: relative;
         top: 157px;
         right: 50px;
         height: 5.5rem;
      }
      h1 {
         padding-right: 20px;
      }
   }