@use "variables" as *;

// * Portrait tablet and small desktops */




@media (max-width: 940px) {
.wrapper {
   width: 90%;
}
}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

// homepage

   .header-container-main {
   height: calc(100vh - 80px);
   .header-img {
         position: relative;
         bottom: 0;
   }
}

.journey-container {

   align-items: flex-start;
}

.landscape {
 display: none;
}

// contact-me page
.header-container {
height: calc(30vh - 80px);


}

.contact-container {
   flex-direction: column;
   align-content: space-between;
   padding: 40px;

   .contact-details {
      width: 100%;
   }

   .contact-form-container{
      margin-top: 20px;
      width: 100%;
   }
}


// blog 

.blog-container {
   flex-direction: column;
   padding-top: 40px;
   padding-bottom: 40px;
   .aside-container {
   width: 100%;
   .bio-container {
      display: flex;
      align-content: space-between;
      .bio-image-container {
         width: 31%;
         margin: 20px;
      }
      .bio-text-container {
         width: calc(69% - 50px);
      }
   }
   }
   .blog-main-container {
      width: 100%;
   }
   .recent-posts-nav {
      margin-bottom: 20px;
   }
}

}
// /* Landscape phones and down */
@media (max-width: 480px) {

ul.sliding-menu {
   display: flex; 
}


label[for="toggle"] {
   display: block;
}
   // homepage {
      
      .wrapper {
         width: 95%;
      }

      .main-nav .desktop-nav {
         display: none;
      }

      .header-container-main {
         height: 100vh;
         width: 100%;
         display: flex;
         .header-text {
            position: relative;
            width: 50%;
            height: 100%;
            h1 {
               font-size: 2.5rem;
               position: absolute;
               bottom: 65px;
               padding: 0 0;
               margin: 0 0;
            }
            img {
               position: absolute;
               bottom: -110px;
               left: -40px;

            }
         }
         .header-img {
            width: 35%;
            margin-right: 10px;
            align-self: flex-end;

         }
      }


      // favourite things 

      .favourite-container {
         flex-direction: column;
         align-content: space-between;
         .img-container {
            width: 80%;
         } 
         .text-container {
            width: 100%;
            height: 100%;
            h3 {
               padding-top: 40px;
            }
         }

      }

      .bucket-container {
         flex-direction: column;
         align-content: space-between;
         .text-container {
            width: 100%;
         }
         .img-container {
            width: 100%;
            height: auto;
            position: static;
         }
      }

      .journey-container {
         flex-direction: column;
         .img-container {
            width: 100%;
         }
         .text-container {
            width: 100%;
            position: static;
            
         }
      }

      .gallery-container {
         flex-direction: column;
         align-content: space-between;
         width: 100%;
         .gallery-item {
            width: 100%;
            max-width: 100%;
            img {
               width: 100%;
               margin: 0 0;
            }
         }
      }

      // bottom navigation

      .nav-bottom-container {
         flex-direction: column;
         align-content: center;
         li {
         width: 100%;
         }
         .contact-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .icon {
               top: 55px;
               left: 250px;

            }
         }
      }
}

// @media (max-width: 320px) {

// }

