@use "variables" as *;

// * Portrait tablet and small desktops */




@media (max-width: 940px) {
.wrapper {
   width: 90%;
}
}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

   
ul.sliding-menu {
   display: flex; 
   height: 80%;
}


label[for="toggle"] {
   display: block;
}


.main-nav .desktop-nav {
   display: none;
}

// homepage

   .header-container-main {
   height: calc(100vh - 80px);
   .header-img {
         position: relative;
         bottom: 0;
   }
}

.journey-container {

   align-items: flex-start;
}

.landscape {
 display: none;
}

// contact-me page and blog page
.header-container {
height: calc(30vh - 80px);


//contact-me mage

}

.contact-container {
   flex-direction: column;
   align-content: space-between;
   padding: 40px;

   .contact-details {
      width: 100%;
   }

   .contact-form-container{
      margin-top: 20px;
      width: 100%;
   }
}


// blog 

.blog-container {
   flex-direction: column;
   padding-top: 40px;
   padding-bottom: 40px;
   .aside-container {
   width: 100%;
   .bio-container {
      display: flex;
      align-content: space-between;
      .bio-image-container {
         width: 31%;
         margin: 20px;
      }
      .bio-text-container {
         width: calc(69% - 50px);
      }
   }
   }
   .blog-main-container {
      width: 100%;
   }
   .recent-posts-nav {
      margin-bottom: 20px;
   }
}

}
// /* Landscape phones and down */


@media (max-width: 480px) {

   // homepage {
      
      .wrapper {
         width: 95%;
      }


      .header-container-main {
         height: 100vh;
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content:baseline;
         align-items: center;
            h1 {
               font-size: 2.5rem;
            }
      }


      // favourite things 

      .favourite-container {
         flex-direction: column;
         align-content: space-between;
         .img-container {
            width: 80%;
         } 
         .text-container {
            width: 100%;
            height: 100%;
            h3 {
               padding-top: 40px;
            }
         }

      }

      .bucket-container {
         flex-direction: column;
         align-content: space-between;
         .text-container {
            width: 100%;
            h3 {
               padding-top: 20px;
            }
         }
         .img-container {
            width: 100%;
            height: auto;
            position: static;
         }
      }

      .journey-container {
         flex-direction: column;
         .img-container {
            width: 100%;
            img {
               margin-top: 60px;
            }
         }
         .text-container {
            width: 100%;
            position: static;
            h2 {
               margin-top: 40px;
            }            
         }
      }

      .gallery-container {
         flex-direction: column;
         align-content: space-between;
         width: 100%;
         .gallery-item {
            width: 100%;
            max-width: 100%;
            img {
               width: 100%;
               margin: 0 0;
            }
         }
      }

      // bottom navigation

      .nav-bottom-container {
         flex-direction: column;
         align-content: center;
         li {
         width: 100%;
         }
         .contact-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .icon {
               top: 55px;
               left: 250px;

            }
         }
      }

      .header-container {
         height: calc(50vh - 80px);

}

.main-nav {
   height: 0px;
   }
}

// small mobile devices 

@media (max-width: 320px) {

   .header-container-main {
      height: 70vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content:baseline;
      align-items: center;
         h1 {
            font-size: 2rem;
         }
         img {
            box-shadow: none;
         }
   }

   .nav-bottom-container .contact-item {

   .icon {
            top: 55px;
            left: 150px;
   }
   h2 {
      font-size: 1rem;
   }
}

ul.sliding-menu {
   width: 50%;
   right: -50%;
}

.blog-form-container form,
.contact-form-container form {
   flex-direction: column;
   input{
      width: 100%;
   }
   }

   element {

   }
   .header-container .h1-container h1 {
      font-size: 2.5rem;
   } 

}