@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Abril Fatface", cursive;
  font-family: "Montserrat", sans-serif;
  color: #1f1f1f;
  font-size: 125%;
  letter-spacing: 1px;
}

header,
header nav a,
footer {
  color: #f6f6f6;
}

header {
  text-transform: uppercase;
  font-weight: bold;
}
header h1 {
  font-size: 4.5rem;
  font-family: "Abril Fatface", cursive;
  color: #f6f6f6;
  letter-spacing: 2px;
}
header nav a {
  font-size: 0.75rem;
}
header nav .menu-special {
  font-size: 1.25rem;
  font-family: "Abril Fatface", cursive;
}

main h3,
main h2 {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
main h2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
main h3 {
  font-size: 1.2rem;
}
main h4 {
  font-size: 0.9rem;
  font-weight: normal;
}
main a {
  color: inherit;
}
main a h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
main .read-more {
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  font-weight: bold;
  font-size: 0.75rem;
}
main p {
  font-size: 0.9rem;
  line-height: 28px;
  letter-spacing: 0;
}
main form {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
main .address-ul {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

footer p {
  font-size: 0.8rem;
}

.address-ul li {
  font-size: 1rem;
}

.form-container button {
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: normal;
}

a.special {
  color: #709b6b;
  font-weight: bold;
}

.recent-posts-nav {
  font-size: 0.9rem;
}

article p,
article h4 {
  font-weight: normal;
}

.comment-text h4 {
  margin-top: 10px;
}

ul.sliding-menu li {
  padding: 0;
}
ul.sliding-menu li a {
  font-size: 1rem;
}

.wrapper {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: white;
}

ul, p, h1 {
  margin: 0, auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  background-color: #345231;
}

.main-nav {
  height: 80px;
}
.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-nav ul li {
  display: inline-block;
  margin: 27px;
}
.main-nav ul a:hover,
.main-nav ul a:focus {
  color: #e4a436;
}

.header-container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container-main .header-img {
  width: 31%;
  position: relative;
  bottom: -60px;
}
.header-container-main .header-img img {
  width: 100%;
  height: auto;
  padding-top: 10px;
  -webkit-box-shadow: 16px 16px #ffffff;
          box-shadow: 16px 16px #ffffff;
  max-width: 400px;
}

.header-container-main .header-text img {
  position: absolute;
  top: -20px;
  left: -50px;
  height: 5.5rem;
}
.header-container-main .header-text h1 {
  padding-right: 20px;
  position: relative;
}

.header-container {
  background-size: cover;
  height: 320px;
}
.header-container .h1-container {
  height: 100%;
  position: relative;
}
.header-container .h1-container h1 {
  margin: 0;
  padding: 0;
  font-size: 3.5rem;
  line-height: 3.5rem;
  position: absolute;
  bottom: -8px;
}

.contact-header-container {
  background-image: url("../assets/contact-image-1.jpg");
}

.blog-header-container {
  background-image: url("../assets/blog-image-1.jpg");
}

ul.sliding-menu {
  background: #345231;
  position: fixed;
  top: 100px;
  z-index: 10;
  width: 35%;
  right: -35%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
ul.sliding-menu a {
  border-bottom: 1px solid #f6f6f6;
  display: inline-block;
  font-size: 40px;
  width: 100%;
  padding: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
ul.sliding-menu a:hover, ul.sliding-menu a:focus {
  background: #709b6b;
}

input[type=checkbox]:checked + ul.sliding-menu {
  right: 0;
}

input[type=checkbox] {
  display: none;
}

label[for=toggle] {
  position: fixed;
  top: 10px;
  right: 10px;
  color: #ffffff;
  z-index: 20;
  display: none;
  color: #e4a436;
}

.gray-style {
  background-color: #f6f6f6;
}

.read-more {
  background-color: #e4a436;
  padding: 15px 20px;
}

.about .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}
.about .about-container h2 {
  margin-top: 0;
  padding-top: 100px;
  margin-bottom: 0;
}
.about .about-container p {
  text-align: center;
  padding: 30px 0;
  margin: 0;
}

.favourite-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.favourite-container .text-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 50px;
  position: relative;
  bottom: 30px;
}
.favourite-container .text-container h3 {
  padding-top: 80px;
  margin: 0 0;
}
.favourite-container .text-container p {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.favourite-container .img-container {
  width: 50%;
}
.favourite-container .img-container img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: -490px 17px #709b6b, 17px 17px #709b6b;
          box-shadow: -490px 17px #709b6b, 17px 17px #709b6b;
  position: relative;
  top: -40px;
}

.bucket-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.bucket-container .text-container {
  width: calc(50% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 50px;
  position: relative;
  bottom: 15px;
  margin-right: 40px;
}
.bucket-container .text-container h3 {
  padding-top: 90px;
  margin: 0 0;
}
.bucket-container .text-container p {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: right;
}
.bucket-container .img-container {
  width: 50%;
}
.bucket-container .img-container img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 17px 17px #345231, 490px 17px #345231;
          box-shadow: 17px 17px #345231, 490px 17px #345231;
  position: relative;
  bottom: -95px;
}

.journey-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}
.journey-container .img-container {
  width: 31%;
}
.journey-container .img-container img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 17px 16px #709b6b;
          box-shadow: 17px 16px #709b6b;
}
.journey-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(69% - 100px);
}
.journey-container .text-container h2 {
  margin-top: 0;
}
.journey-container .text-container a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  bottom: -16px;
}

.landscape div {
  background-image: url(../assets/home-image-5.jpg);
  height: 400px;
  background-size: cover;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery-container .gallery-item {
  max-width: 31%;
  margin: 10px 0px;
}
.gallery-container .gallery-item img {
  width: 100%;
  height: auto;
  margin: 90px 0;
}

.nav-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.nav-bottom-container li {
  width: 45%;
  display: inline-block;
}
.nav-bottom-container h2 {
  margin-top: 60px;
  margin-bottom: 0;
}
.nav-bottom-container .contact-item {
  position: relative;
}

.icon {
  background-color: #e4a436;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: -60px;
}

.fa-li {
  width: 120px;
  margin-top: 9px;
}

.contact-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}
.contact-container .contact-details {
  width: 31%;
  height: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-container .contact-details a {
  color: #1f1f1f;
  font-weight: bold;
}
.contact-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 30px;
}
.contact-container .social-ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.contact-container .social-ul li {
  padding-right: 35px;
  display: inline-block;
}
.contact-container .social-ul li i {
  font-size: 1.25rem;
  color: #345231;
}
.contact-container .address-ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
}
.contact-container .address-ul li {
  margin-bottom: 10px;
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-container form input {
  background-color: #ffffff;
  width: calc(50% - 5px);
  padding: 30px 20px;
  margin-bottom: 15px;
  border: none;
  display: inline-block;
}
.form-container form input::-webkit-input-placeholder {
  color: #1f1f1f;
  opacity: 0.9;
}
.form-container form input::-moz-placeholder {
  color: #1f1f1f;
  opacity: 0.9;
}
.form-container form input:-ms-input-placeholder {
  color: #1f1f1f;
  opacity: 0.9;
}
.form-container form input::-ms-input-placeholder {
  color: #1f1f1f;
  opacity: 0.9;
}
.form-container form input::placeholder {
  color: #1f1f1f;
  opacity: 0.9;
}
.form-container form textarea {
  background-color: #ffffff;
  width: 100%;
  padding: 30px 20px;
  resize: none;
  border: none;
}
.form-container form textarea::-webkit-input-placeholder {
  color: #1f1f1f;
  opacity: 0.9;
}
.form-container form textarea::-moz-placeholder {
  color: #1f1f1f;
  opacity: 0.9;
}
.form-container form textarea:-ms-input-placeholder {
  color: #1f1f1f;
  opacity: 0.9;
}
.form-container form textarea::-ms-input-placeholder {
  color: #1f1f1f;
  opacity: 0.9;
}
.form-container form textarea::placeholder {
  color: #1f1f1f;
  opacity: 0.9;
}
.form-container button {
  width: 100%;
  border: none;
  margin-top: 15px;
}

.contact-form-container {
  width: calc(70% - 30px);
}

.blog-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}
.blog-container .aside-container {
  width: 31%;
  height: 100%;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.blog-container .aside-container .bio-container {
  padding: 30px 30px;
  background-color: #ffffff;
  height: 50%;
  margin-bottom: 20px;
}
.blog-container .aside-container .bio-container a {
  font-weight: bold;
}
.blog-container .aside-container .bio-container img {
  width: 100%;
  height: auto;
}
.blog-container .aside-container .bio-container p {
  margin-bottom: 0;
}
.blog-container .aside-container .recent-posts-nav {
  padding: 30px 30px;
  height: 40%;
  background-color: #ffffff;
}
.blog-container .aside-container .recent-posts-nav ul {
  list-style-type: "·";
}
.blog-container .aside-container .recent-posts-nav ul li {
  padding-left: 15px;
}

.blog-main-container {
  width: calc(69% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.blog-main-container article {
  padding: 30px 30px;
  background-color: #ffffff;
  margin-bottom: 25px;
  border-bottom: 5px solid #709b6b;
}
.blog-main-container article h4,
.blog-main-container article h2 {
  margin-top: 0;
}
.blog-main-container article p {
  margin-bottom: 0;
}
.blog-main-container .comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-bottom: 25px;
  border-bottom: 5px solid #709b6b;
}
.blog-main-container .comments-container .comment-box {
  padding: 30px 30px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-main-container .comments-container .comment-box .comment-img {
  width: 11%;
}
.blog-main-container .comments-container .comment-box .comment-img img {
  width: 100%;
  height: auto;
}
.blog-main-container .comments-container .comment-box .comment-text {
  width: calc(89% - 20px);
}
.blog-main-container .comments-container .comment-box .comment-text p {
  margin-bottom: 0;
}
.blog-main-container .comments-container .first-comment {
  margin-bottom: 15px;
}

footer {
  background-color: #1f1f1f;
}
footer p {
  margin: 0;
  line-height: 30px;
  text-align: center;
  padding: 5px;
}

@media (max-width: 940px) {
  .wrapper {
    width: 90%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  ul.sliding-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80%;
  }
  label[for=toggle] {
    display: block;
  }
  .main-nav .desktop-nav {
    display: none;
  }
  .header-container-main {
    height: calc(100vh - 80px);
  }
  .header-container-main .header-img {
    position: relative;
    bottom: 0;
  }
  .journey-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .landscape {
    display: none;
  }
  .header-container {
    height: calc(30vh - 80px);
  }
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    padding: 40px;
  }
  .contact-container .contact-details {
    width: 100%;
  }
  .contact-container .contact-form-container {
    margin-top: 20px;
    width: 100%;
  }
  .blog-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .blog-container .aside-container {
    width: 100%;
  }
  .blog-container .aside-container .bio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .blog-container .aside-container .bio-container .bio-image-container {
    width: 31%;
    margin: 20px;
  }
  .blog-container .aside-container .bio-container .bio-text-container {
    width: calc(69% - 50px);
  }
  .blog-container .blog-main-container {
    width: 100%;
  }
  .blog-container .recent-posts-nav {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    width: 95%;
  }
  .header-container-main {
    height: 50vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-container-main h1 {
    font-size: 2.5rem;
  }
  .favourite-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .favourite-container .img-container {
    width: 80%;
  }
  .favourite-container .text-container {
    width: 100%;
    height: 100%;
  }
  .favourite-container .text-container h3 {
    padding-top: 40px;
  }
  .bucket-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .bucket-container .text-container {
    width: 100%;
  }
  .bucket-container .text-container h3 {
    padding-top: 20px;
  }
  .bucket-container .img-container {
    width: 100%;
    height: auto;
    position: static;
  }
  .journey-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .journey-container .img-container {
    width: 100%;
  }
  .journey-container .img-container img {
    margin-top: 60px;
  }
  .journey-container .text-container {
    width: 100%;
    position: static;
  }
  .journey-container .text-container h2 {
    margin-top: 40px;
  }
  .gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 100%;
  }
  .gallery-container .gallery-item {
    width: 100%;
    max-width: 100%;
  }
  .gallery-container .gallery-item img {
    width: 100%;
    margin: 0 0;
  }
  .nav-bottom-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .nav-bottom-container li {
    width: 100%;
  }
  .nav-bottom-container .contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-bottom-container .contact-item .icon {
    top: 55px;
    left: 250px;
  }
  .header-container {
    height: calc(50vh - 80px);
  }
  .main-nav {
    height: 0px;
  }
}
@media (max-width: 320px) {
  .header-container-main {
    height: 50vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-container-main h1 {
    font-size: 2rem;
  }
  .header-container-main img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav-bottom-container .contact-item .icon {
    top: 55px;
    left: 150px;
  }
  .nav-bottom-container .contact-item h2 {
    font-size: 1rem;
  }
  ul.sliding-menu {
    width: 50%;
    right: -50%;
  }
  .blog-form-container form,
.contact-form-container form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-form-container form input,
.contact-form-container form input {
    width: 100%;
  }
  .header-container .h1-container h1 {
    font-size: 2.5rem;
  }
}